<nav
  class="fixed bg-secondary h-screen p-5 border-l border-border flex flex-col justify-between items-center"
  [ngClass]="{
    'w-60':isExpanded(),
    'w-min':!isExpanded(),
  }"
>
  <div class="flex flex-col gap-4 w-full items-center">
    <lucide-icon
      [img]="icons.chevronRight"
      name="chevron-right"
      [size]="34"
      class="text-text ml-auto mr-0 transition-transform duration-400 cursor-pointer max-[730px]:hidden"
      [ngClass]="{
        'rotate-180': !isExpanded()
      }"
      (click)="isExpanded.set(!isExpanded())"
    ></lucide-icon>

    @if(isExpanded()) {
      <img
        ngSrc="logo-completo.png"
        alt="SecureSpace Logo"
        width="136"
        height="98"
        priority
      />
    } @else {
      <img
        ngSrc="icon-logo.png"
        alt="SecureSpace Logo"
        width="58"
        height="58"
        priority
      />
    }

    <div class="flex flex-col gap-1 w-full container-links">
      @for (path of paths; track $index) {
        <a
          class="flex flex-row items-start gap-1 p-2 rounded-10px select-none group relative outline-hidden"
          [ngClass]="{
            'bg-primary/10! text-primary! font-medium':
              path.route == currentRoute(),
            'text-text/80! hover:bg-text/5': path.route != currentRoute(),
          }"
          [routerLink]="'/' + path.route"
        >
          <lucide-icon [img]="path.icon" [size]="24"></lucide-icon>
          @if(isExpanded() || (isMobile() && path.route === currentRoute())) {
            {{ path.label }}
          } @else {
            <app-label-indicator [label]="path.label"></app-label-indicator>
          }
        </a>
      }
    </div>
  </div>

  <div class="flex flex-col gap-1 py-5 border-t border-border w-full container-user-info">
    <a
      class="p-2.5 flex flex-row gap-2.5 items-center justify-start bg-[#0F1117]/30 rounded-10px"
      [routerLink]="'/profile'"
    >
      @if(user?.photoUrl){
        <img
          [src]="user?.photoUrl!"
          alt="Foto de perfil"
          width="40"
          height="40"
          class="rounded-full object-cover max-h-10"
        />
      } @else {
        <lucide-icon
          class="text-text"
          [img]="icons.circleUserRound"
          [size]="24"
          name="circle-user-round"
        ></lucide-icon>
      }

      @if(isExpanded()){
        <div class="flex flex-col w-full overflow-x-hidden">
          <span class="text-base font-normal!">{{ user?.name }} {{ user?.lastName }}</span>
          <span class="text-xs text-text/80! underline">{{ user?.email }}</span>
        </div>
      }
    </a>
    <a
      class="flex flex-row items-start gap-1 p-2 rounded-10px text-text/80! font-normal! group relative hover:bg-text/5"
      [routerLink]="'/login'"
      (click)="logout()"
    >
      <lucide-icon [img]="icons.logOut" [size]="24"></lucide-icon>
      @if(isExpanded()){
        Cerrar sesión
      } @else {
        <app-label-indicator [label]="'Cerrar sesión'"></app-label-indicator>
      }
    </a>
  </div>
</nav>
