<div class="fixed top-4 right-4 z-50 flex flex-col gap-2.5 items-end">
  @for (toast of toasts$ | async; track $index) {
    <!-- this is the toast -->
    <div
      class="min-w-[250pxf] max-w-[400px] p-5 rounded-md text-text flex flex-row gap-2 items-center justify-center shadow-lg select-none"
      [ngClass]="{
        'bg-success': toast.type === 'success',
        'bg-red-500': toast.type === 'error',
        'bg-warning': toast.type === 'warning',
        'bg-blue-500': toast.type === 'info'
      }"
      (click)="closeToast(toast.id)"
      animate.enter="toast-enter"
      animate.leave="toast-leave"
    >
      <lucide-angular
        [img]="
          toast.type === 'success'
            ? icons.circleCheck
            : toast.type === 'error'
            ? icons.circleX
            : icons.circleAlert
        "
        [size]="26"
      ></lucide-angular>
      <span class="toast-message">{{ toast.message }}</span>
      <button class="toast-close-btn rounded-xs" (click)="closeToast(toast.id)">
        <lucide-angular [img]="icons.x" name="X" [size]="26"></lucide-angular>
      </button>
    </div>
  }
</div>
