<div class="flex flex-col gap-2.5">
  <h3>
    {{ title() }}
  </h3>
  <ul>
    @for (notification of notifications(); track $index) {
      <li
        class="flex flex-row gap-2 justify-between items-center p-4 hover:bg-text-secondary/10 rounded-10px"
        (click)="readedNotification(notification.id)"
        [ngClass]="{
          'cursor-pointer': !notification.read,
        }"
      >
        <div class="flex flex-col gap-1" >
          <app-type-notification-badge
            [title]="notification.title"
          ></app-type-notification-badge>
          <p class="text-text-secondary!">
            {{ notification.message }}
          </p>
        </div>

        @if(!notification.read) {
          <span class="size-4 bg-primary rounded-full"></span>
        }
      </li>
    }
  </ul>
</div>
