<div class="flex flex-row h-screen container-main-layout">
  <app-sidebar
    [(isExpanded)]="isExpanded"
    [isMobile]="isMobile()"
  ></app-sidebar>
  <!-- container of the main content -->
  <div
    class="flex flex-col p-5 w-full container-content"
    [ngClass]="{
      'ml-60': isDesktop() && isExpanded(),
      'ml-21': (isDesktop() && !isExpanded()) || isTablet(),
    }"
  >
    <span class="greeting-text text-base text-text-secondary">
      Hola, {{ user?.name }} {{ user?.lastName }} 👋
    </span>
    <div class="flex flex-row justify-between items-center">
      <h1>
        {{ title() }}
      </h1>
      <app-button-component
        [label]="button.label()"
        [ariaLabel]="button.ariaLabel()"
        (clickAction)="onActionClick()"
      >
        <lucide-icon
          [img]="icons.plus"
          name="plus"
          color="#0f1117"
          class="my-icon"
        ></lucide-icon>
      </app-button-component>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<app-toast-container></app-toast-container>
<app-confirm-action-modal></app-confirm-action-modal>
