/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-primary: #14b8a6;
  --color-secondary: #1a1d29;
  --color-border: #2a2e3d;
  --color-background: #0f1117;
  --color-text: #fafafa;
  --color-text-secondary: #9ca0b4;
  --color-success: #10b981;
  --color-warning: #f59e0b;

  /* font size */
  --text-base: clamp(1rem, calc(0.9rem + 0.2vw), 1.125rem);
  --text-count-notification: clamp(0.5rem, calc(0.6rem + 0.2vw), 0.75rem);

  /* font family */
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  /* border radius */
  --radius-10px: 10px;
  --radius-20px: 20px;
}

/* Only the titles  */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif !important;
  color: var(--color-text);
}

/* The default font */
* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: clamp(2.5rem, calc(2rem + 3vw), 3.5rem);
  font-weight: 700; /* Bold */
}

h2 {
  font-size: clamp(1.875rem, calc(1.5rem + 2vw), 2.5rem);
  font-weight: 600; /* Semi-bold */
}

h3,
.span-history
{
  font-size: clamp(1.5rem, calc(1.2rem + 1.5vw), 2rem);
  font-weight: 500; /* Medium */
}

h4 {
  font-size: clamp(1.125rem, calc(1rem + 0.5vw), 1.375rem);
  font-weight: 500; /* Medium */
}

p,
input,
th,
td,
a {
  font-size: var(--text-base);
  color: var(--color-text);
}

input::placeholder {
  color: var(--color-text-secondary);
}

button,
span,
th {
  font-weight: 500; /* Medium */
  font-size: var(--text-base);
}

button {
  cursor: pointer;
  &&:hover {
    box-shadow: 0 0 25px #00000050;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }
  outline: none;
}

td {
  font-size: var(--text-base);
  color: var(--color-text-secondary);
}

.custom-dashed-border {
  border-bottom: none;
  background-image: linear-gradient(
    to right,
    #2a2e3d 0%,
    #2a2e3d 33%,
    transparent 33%,
    transparent 100%
  );
  background-size: 24px 1px;
  background-repeat: repeat-x;
  background-position: bottom;
  padding-bottom: calc(1.25rem - 1px);
}

.bg-modal {
  @apply fixed inset-0 shadow-lg outline-hidden w-screen h-screen bg-black/50 backdrop-blur-[6px] px-4;
}
